# COGS 108 - Data Checkpoint

# Names

- Quinn Cassady
- Yihui Zhang 
- Thida Len
- Christopher Pei
- Wenzhou Lyu

# Research Question

What has the greatest relationship with stress: sleeplessness, life events, illness, guardianship, or something else? While we may be unable to prove causation, we can show a strong correlation between the variables, and weed out those that have a positive or neutral effect on stress. Finding which variable causes the greatest stress also leads to further directions of study, focusing on what has the greatest relationship with stress.

## Background and Prior Work

Stress is a part of every single person’s life. While it's impossible to get rid of stress entirely, learning ways to better navigate and manage its buildup is essential to living a long, happy life. That is why our group is researching what we believe to be some of the most significant contributors to stress, lack of sleep and hours worked, and comparing them to see which is the greater contributor to stress in daily life. Everybody works and everybody sleeps, so they are a universal experience amongst people. We went into our research knowing that lack of sleep and overworking oneself can definitely lead to consequences, but we weren’t sure exactly what differentiated them.

Looking first at overworking, it causes direct issues with one's health, leading to eating disorders, sickness, depression,  and most relevantly, stress <a name="cite_ref-1\"></a>[<sup>1</sup>](#cite_note-1). During stress, the body produces excess levels of hormones, including cortisol. With chronic stress, the connection with the endocrine system may become impaired, leading to a myriad of health issues including metabolic disorders, immune disorders, and depression<a name="cite_ref-2\"></a>[<sup>2</sup>](#cite_note-2). This stress buildup causes many issues while working, and has caused many people to get hurt because of the negligence brought on by the overwhelming fatigue caused by all this stress. 

On the other hand, we have sleeplessness. Lack of sleep leads to lots of health problems such as heart disease, high blood pressure, and more, as well as causing increased stress levels <a name="cite_ref-3\"></a>[<sup>3</sup>](#cite_note-3). Something interesting to note is that sleep forms a bit of a feedback loop with stress, where as you get more stressed you struggle more to fall asleep, which causes you to become even more stressed, and so on <a name="cite_ref-4\"></a>[<sup>4</sup>](#cite_note-4). Elevated stress levels also have an impairment on the quality of sleep, affecting the duration of the various sleep stages which affects the structural organization of one’s sleep schedule and can lead to feeling tired even after a full night of sleep <a name="cite_ref-5\"></a>[<sup>5</sup>](#cite_note-5).

A similar project done in previous quarters is about who loses the most sleep. They compared different age ranges, incomes, ethnicities, and more to see who suffered the most from sleeplessness. We believe that while we both discuss sleep, our project looks at it from a different angle and is unique from theirs. In fact, their sources might prove to be valuable for our project as well, since it holds a lot of data about sleep and we can attempt to find correlations between work and sleep, which might prove useful in finding a relationship between not only sleep/work and stress, but also between work and sleep<a name="cite_ref-6\"></a>[<sup>6</sup>](#cite_note-6). Another similar project from Spring 2019 explores the correlation between size of a company and the number of employees who experience mental health disorders. This group found that there is a strong correlation between the size of a company, and both the number of employees who experience mental health disorders, as well as the belief of how mental health is addressed within their workplace. Through their data, they found that the larger a company is, the more likely its employees are to experience mental health problems. This is similar to our research question because it is observing the relationship between work and its mental effects. Though we are more specifically observing workplace hours and stress, their findings and resources can be useful in exploring how work and mental health are generally tied<a name="cite_ref-7\"></a>[<sup>7</sup>](#cite_note-7).


1. <a name="cite_note-1\"></a> [^](#cite_ref-1) Long work hours, extended or irregular shifts, and worker fatigue - overview. Occupational Safety and Health Administration. (n.d.). https://www.osha.gov/worker-fatigue
2. <a name="cite_note-2\"></a> [^](#cite_ref-2) American Psychological Association. (n.d.). Stress effects on the body. American Psychological Association. https://www.apa.org/topics/stress/body
3. <a name="cite_note-3\"></a> [^](#cite_ref-3) Cleveland Clinic. (2023, November 27). Here’s what happens when you don’t get enough sleep (and how much you really need a night). https://health.clevelandclinic.org/happens-body-dont-get-enough-sleep
4. <a name="cite_note-4\"></a> [^](#cite_ref-4) Benham, G. (2010). Sleep: An important factor in stress‐health models. Stress and Health, 26(3), 204–214. https://doi.org/10.1002/smi.1304
5. <a name="cite_note-5\"></a> [^](#cite_ref-5) Stress and insomnia. Sleep Foundation. (2023, November 16). https://www.sleepfoundation.org/insomnia/stress-and-insomnia
6. <a name="cite_note-6\"></a> [^](#cite_ref-6) Who Loses the Most Sleep? A Demographic Analysis of Poor Sleepers. GitHub. https://github.com/COGS108/FinalProjects-Wi21/blob/main/FinalProject_group007.ipynb
7. <a name="cite_note-7\"></a> [^](#cite_ref-7) Final Project. GitHub. https://github.com/COGS108/FinalProjects-Sp19/blob/master/FinalProject_group038.ipynb

# Hypothesis

Sleeplessness: Average sleep duration(found by comparing start and end times of each day worked and taking the average) minus the hours spent sleeping of the individual.

Life events: Total number of life events. (life events include personal illness, marital woes, birth of a child, death of a spouse, change in sleep habits, trouble with law, family or friend illness, financial woes, home change, social change, family death)

Overworking: Hours worked minus national standard (40).

Illness: Sick days for the year minus the average sick days.

Guardianship: Number of children dependents.

We will make use of descriptive statistics to find out the general characteristics of our population, then use that information for correlation and regression analysis. Additionally, we can use ANOVA to compare different levels of stress within specific variables, like looking at the top half of overworked individuals and the bottom half to see if they have a significantly different average level of stress.

We believe that among the examined variables, sleeplessness will demonstrate the greatest relationship with increased levels of stress, more so than life events, illness, guardianship, or any other evaluated factors.

##### Null Hypothesis (H0): There is no significant difference in relationship between stress levels and any of the variables tested.

##### Alternative Hypothesis (H1): There is a more significant relationship between stress levels and sleeplessness than the other variables tested.

# Data


Work Schedules and Sleep Patterns of Railroad Employees 
[Link to Dataset](https://catalog.data.gov/dataset/work-schedules-and-sleep-patterns-of-railroad-employees)

Number of observations: 443

Number of variables: 53

This dataset was conducted to explore how work schedules and sleep patterns correlate to fatigue and stress. The study was administered by the Federal Railroad Administration and surveyed various employee positions within railroad work, such as signalmen, dispatchers, and train & engine service workers. The main variables cover start and end times for work, average number of hours worked, and self-reported measures of fatigue and stress. These variables ask about feelings of stress regarding topics like sleep loss, lack of control, workplace stress, and more. The main data types in this study are time and integers, both being numeric. To answer our question, we would need to calculate the hours worked for each day based on the reported start and end times. For questions with binary responses, for example the question for gender where 1 denotes Male and 2 denotes Female, we would change these values to the strings they represent for simplicity. Since there are multiple variables covering different areas of stress, we would need to combine these results and average them out to get a total average stress score. Lastly, we would drop columns that are unnecessary to our question, like Participant ID. 
The dataset we find is in the xls format. In order to get the data into a usable format, we first import the xlrd package from the library to read the data into pandas dataframe. Since we are studying how work schedules and sleep patterns correlate to fatigue and stress, we will drop the rows with na values in columns that are related to the stress, such as Mentally_Drained, Phys_Drained, etc. After that, we calculate the total stress value by just adding up all values in the columns that relate with stress. After that we drop the columns we do not want such as Id, Start_time, and etc. Then , we change some columns with numerical objects to string objects to make our data much easier to understand. For example, we change 1 to male and 2 to female in the sex column. Next, we substract calculate the number of hours overwork per week by substracting 40 from the actual number of hours in work in a week. Finally, we check the dataframe’s value in every cell to make sure there is no NaN value.

## Data Cleaning

In [77]:
#install this package first
!pip install xlrd

Fatal Python error: config_get_locale_encoding: failed to get the locale encoding: nl_langinfo(CODESET) failed
Python runtime state: preinitialized

In [78]:
import pandas as pd
import numpy as np
import xlrd
import warnings
warnings.filterwarnings('ignore')

In [79]:
book = xlrd.open_workbook(filename='Dispatchers_Background_Data.xls')

df = pd.read_excel(book)

In [65]:
#remove the last two rows
df = df.iloc[:-2]
df

,ID,Age_Group,Sex,Total_years_dispatcher,Total_years_present_job,Job_type,Marital_Status,Childrendependents,Children_under_2_yrs,Caff_Beverages,...,Scanty_Rules,Mgmt_policies,Job_Security,Surges_in_work,Communication,Inadeq_Staff,Resp_for_others_safety,BreakTime,TimeOff,Total_life_events
0,2,2.0,1.0,6.750000,6.750000,1.0,1.0,0.0,0.0,1.0,...,4.0,3.0,1.0,3.0,1.0,3.0,2.0,3.0,4.0,1.0
1,4,4.0,1.0,29.750000,25.750000,1.0,1.0,4.0,0.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
2,7,4.0,1.0,26.916667,4.000000,1.0,2.0,2.0,0.0,1.0,...,3.0,3.0,1.0,3.0,2.0,2.0,3.0,2.0,2.0,0.0
3,10,3.0,2.0,1.833333,0.833333,1.0,2.0,5.0,0.0,1.0,...,2.0,2.0,2.0,2.0,1.0,1.0,4.0,3.0,3.0,3.0
4,12,4.0,1.0,28.583333,13.000000,1.0,2.0,2.0,0.0,1.0,...,4.0,4.0,3.0,4.0,3.0,3.0,3.0,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,956,4.0,1.0,29.750000,29.750000,1.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
439,959,3.0,1.0,16.833333,16.833333,1.0,2.0,2.0,0.0,1.0,...,3.0,3.0,2.0,4.0,3.0,2.0,3.0,4.0,2.0,0.0
440,960,4.0,1.0,14.166667,13.000000,2.0,2.0,0.0,0.0,1.0,...,2.0,3.0,1.0,3.0,3.0,3.0,2.0,2.0,1.0,1.0
441,961,4.0,1.0,24.916667,6.916667,1.0,2.0,3.0,0.0,1.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,1.0
442,963,4.0,1.0,17.666667,17.666667,1.0,2.0,0.0,0.0,1.0,...,4.0,2.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,0.0

In [66]:
stress_cols = ['Mentally_Drained',
               'Phys_Drained',
               'Emergencies',
               'Lack_of_control',
               'Sleep_loss',
               'Coord_other_depts',
               'Job_pressure',
               'Scanty_Rules',
              'Mgmt_policies',
              'Job_Security',
              'Surges_in_work',
              'Communication',
              'Inadeq_Staff',
              'Resp_for_others_safety',
              'BreakTime',
              'TimeOff']

In [67]:
#Drop the rows with NaN values
df = df.dropna(subset=stress_cols)
df

,ID,Age_Group,Sex,Total_years_dispatcher,Total_years_present_job,Job_type,Marital_Status,Childrendependents,Children_under_2_yrs,Caff_Beverages,...,Scanty_Rules,Mgmt_policies,Job_Security,Surges_in_work,Communication,Inadeq_Staff,Resp_for_others_safety,BreakTime,TimeOff,Total_life_events
0,2,2.0,1.0,6.750000,6.750000,1.0,1.0,0.0,0.0,1.0,...,4.0,3.0,1.0,3.0,1.0,3.0,2.0,3.0,4.0,1.0
1,4,4.0,1.0,29.750000,25.750000,1.0,1.0,4.0,0.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
2,7,4.0,1.0,26.916667,4.000000,1.0,2.0,2.0,0.0,1.0,...,3.0,3.0,1.0,3.0,2.0,2.0,3.0,2.0,2.0,0.0
3,10,3.0,2.0,1.833333,0.833333,1.0,2.0,5.0,0.0,1.0,...,2.0,2.0,2.0,2.0,1.0,1.0,4.0,3.0,3.0,3.0
4,12,4.0,1.0,28.583333,13.000000,1.0,2.0,2.0,0.0,1.0,...,4.0,4.0,3.0,4.0,3.0,3.0,3.0,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,956,4.0,1.0,29.750000,29.750000,1.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
439,959,3.0,1.0,16.833333,16.833333,1.0,2.0,2.0,0.0,1.0,...,3.0,3.0,2.0,4.0,3.0,2.0,3.0,4.0,2.0,0.0
440,960,4.0,1.0,14.166667,13.000000,2.0,2.0,0.0,0.0,1.0,...,2.0,3.0,1.0,3.0,3.0,3.0,2.0,2.0,1.0,1.0
441,961,4.0,1.0,24.916667,6.916667,1.0,2.0,3.0,0.0,1.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,1.0
442,963,4.0,1.0,17.666667,17.666667,1.0,2.0,0.0,0.0,1.0,...,4.0,2.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,0.0

In [68]:
# sum up all stress cols
df['total_stress'] = df[stress_cols].sum(axis=1)
unnessary_cols = stress_cols + ['ID',
                                'Total_years_dispatcher',
                                'Caff_Beverages',
                                'If_yes_how_many_daily',
                                'Older_Younger_or_Same',
                                'Relief_schedule',
                                'Mentally_Drained',
                                'Phys_Drained',
                                'FRA_report',
                               'SunStart_Time',
                               'MonStart_Time',
                               'TuesStart_Time',
                               'WedStart_Time',
                               'ThuStart_Time',
                               'FriStart_Time',
                               'SatStart_Time',
                               'SunEnd_Time',
                               'MonEnd_Time',
                               'TuesEnd_Time',
                               'WedEnd_Time',
                               'ThuEnd_Time',
                               'FriEnd_Time',
                               'SatEnd_Time']
# drop unnecessary cols by intuition
df = df.drop(columns=unnessary_cols)
df

,Age_Group,Sex,Total_years_present_job,Job_type,Marital_Status,Childrendependents,Children_under_2_yrs,Sick_Days_in_last_year,Health_status,Diagnosed_Sleep_disorder,Sleep_Apnea,Medical_treatment,job_schedule,Avg_Work_Hrs_Week,Alert_at_Work,Total_life_events,total_stress
0,2.0,1.0,6.750000,1.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN,2.0,40.0,2.0,1.0,37.0
1,4.0,1.0,25.750000,1.0,1.0,4.0,0.0,0.0,2.0,2.0,2.0,NaN,1.0,40.0,3.0,1.0,18.0
2,4.0,1.0,4.000000,1.0,2.0,2.0,0.0,0.0,4.0,1.0,1.0,2.0,1.0,41.0,3.0,0.0,38.0
3,3.0,2.0,0.833333,1.0,2.0,5.0,0.0,1.0,4.0,2.0,2.0,NaN,5.0,40.0,3.0,3.0,38.0
4,4.0,1.0,13.000000,1.0,2.0,2.0,0.0,1.0,2.0,2.0,2.0,NaN,3.0,40.0,2.0,2.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,4.0,1.0,29.750000,1.0,1.0,0.0,0.0,6.0,4.0,2.0,2.0,NaN,3.0,40.0,4.0,0.0,23.0
439,3.0,1.0,16.833333,1.0,2.0,2.0,0.0,2.0,3.0,2.0,2.0,NaN,1.0,41.0,3.0,0.0,44.0
440,4.0,1.0,13.000000,2.0,2.0,0.0,0.0,7.0,3.0,2.0,2.0,NaN,1.0,40.0,3.0,1.0,37.0
441,4.0,1.0,6.916667,1.0,2.0,3.0,0.0,10.0,4.0,2.0,2.0,NaN,4.0,40.0,3.0,1.0,40.0
442,4.0,1.0,17.666667,1.0,2.0,0.0,0.0,7.0,2.0,2.0,2.0,NaN,1.0,40.0,3.0,0.0,44.0

In [69]:
df['Sex'] = df['Sex'].replace({1:"male",2:"female"})

In [70]:
df['Job_type'] = df['Job_type'].replace({1:'trick', 2:"asst chief"})
df['Diagnosed_Sleep_disorder'] = df['Diagnosed_Sleep_disorder'].fillna(2)
df['Diagnosed_Sleep_disorder'] = df['Diagnosed_Sleep_disorder'].replace({1:'Yes',0:'No'})

df['Medical_treatment'] = df['Medical_treatment'].fillna(0)
df['Medical_treatment'] = df['Medical_treatment'].replace({0:"Not Apply",1:"Yes",2:"No"})

df['Marital_Status'] = df['Marital_Status'].replace({1:"Single",2:"Married"})

df['Sleep_Apnea'] = df['Sleep_Apnea'].replace({1:"Yes",2:"No"})


df['Childrendependents'] = df['Childrendependents'].fillna(0)
df['Children_under_2_yrs'] =df['Children_under_2_yrs'].fillna(0)

df.describe()

,Age_Group,Total_years_present_job,Childrendependents,Children_under_2_yrs,Sick_Days_in_last_year,Health_status,job_schedule,Avg_Work_Hrs_Week,Alert_at_Work,Total_life_events,total_stress
count,437.000000,436.000000,437.000000,437.000000,431.000000,436.000000,437.000000,434.000000,437.000000,437.000000,437.000000
mean,3.228833,12.203937,1.489703,0.064073,5.556845,3.013761,2.718535,41.686636,2.606407,1.757437,40.489703
std,0.944706,8.900812,1.431304,0.263210,6.590754,0.635931,1.349804,3.908120,0.677797,1.529742,8.724794
min,1.000000,0.500000,0.000000,0.000000,0.000000,1.000000,1.000000,32.000000,1.000000,0.000000,18.000000
25%,3.000000,5.562500,0.000000,0.000000,1.000000,3.000000,1.000000,40.000000,2.000000,1.000000,35.000000
50%,3.000000,10.000000,1.000000,0.000000,4.000000,3.000000,3.000000,40.000000,3.000000,1.000000,41.000000
75%,4.000000,17.166667,2.000000,0.000000,8.000000,3.000000,4.000000,41.000000,3.000000,3.000000,47.000000
max,5.000000,38.500000,8.000000,2.000000,60.000000,4.000000,5.000000,64.000000,4.000000,7.000000,63.000000

In [71]:

df = df.dropna(subset=['Avg_Work_Hrs_Week'])
df['number of over work'] = df['Avg_Work_Hrs_Week'] -40
df = df.drop(columns=['Avg_Work_Hrs_Week'])
df.head()

,Age_Group,Sex,Total_years_present_job,Job_type,Marital_Status,Childrendependents,Children_under_2_yrs,Sick_Days_in_last_year,Health_status,Diagnosed_Sleep_disorder,Sleep_Apnea,Medical_treatment,job_schedule,Alert_at_Work,Total_life_events,total_stress,number of over work
0,2.0,male,6.750000,trick,Single,0.0,0.0,1.0,2.0,2.0,No,Not Apply,2.0,2.0,1.0,37.0,0.0
1,4.0,male,25.750000,trick,Single,4.0,0.0,0.0,2.0,2.0,No,Not Apply,1.0,3.0,1.0,18.0,0.0
2,4.0,male,4.000000,trick,Married,2.0,0.0,0.0,4.0,Yes,Yes,No,1.0,3.0,0.0,38.0,1.0
3,3.0,female,0.833333,trick,Married,5.0,0.0,1.0,4.0,2.0,No,Not Apply,5.0,3.0,3.0,38.0,0.0
4,4.0,male,13.000000,trick,Married,2.0,0.0,1.0,2.0,2.0,No,Not Apply,3.0,2.0,2.0,53.0,0.0

In [72]:
df = df.dropna(subset=['Sick_Days_in_last_year','Health_status','Total_years_present_job'])
df

,Age_Group,Sex,Total_years_present_job,Job_type,Marital_Status,Childrendependents,Children_under_2_yrs,Sick_Days_in_last_year,Health_status,Diagnosed_Sleep_disorder,Sleep_Apnea,Medical_treatment,job_schedule,Alert_at_Work,Total_life_events,total_stress,number of over work
0,2.0,male,6.750000,trick,Single,0.0,0.0,1.0,2.0,2.0,No,Not Apply,2.0,2.0,1.0,37.0,0.0
1,4.0,male,25.750000,trick,Single,4.0,0.0,0.0,2.0,2.0,No,Not Apply,1.0,3.0,1.0,18.0,0.0
2,4.0,male,4.000000,trick,Married,2.0,0.0,0.0,4.0,Yes,Yes,No,1.0,3.0,0.0,38.0,1.0
3,3.0,female,0.833333,trick,Married,5.0,0.0,1.0,4.0,2.0,No,Not Apply,5.0,3.0,3.0,38.0,0.0
4,4.0,male,13.000000,trick,Married,2.0,0.0,1.0,2.0,2.0,No,Not Apply,3.0,2.0,2.0,53.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,4.0,male,29.750000,trick,Single,0.0,0.0,6.0,4.0,2.0,No,Not Apply,3.0,4.0,0.0,23.0,0.0
439,3.0,male,16.833333,trick,Married,2.0,0.0,2.0,3.0,2.0,No,Not Apply,1.0,3.0,0.0,44.0,1.0
440,4.0,male,13.000000,asst chief,Married,0.0,0.0,7.0,3.0,2.0,No,Not Apply,1.0,3.0,1.0,37.0,0.0
441,4.0,male,6.916667,trick,Married,3.0,0.0,10.0,4.0,2.0,No,Not Apply,4.0,3.0,1.0,40.0,0.0
442,4.0,male,17.666667,trick,Married,0.0,0.0,7.0,2.0,2.0,No,Not Apply,1.0,3.0,0.0,44.0,0.0

In [73]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Age_Group, Sex, Total_years_present_job, Job_type, Marital_Status, Childrendependents, Children_under_2_yrs, Sick_Days_in_last_year, Health_status, Diagnosed_Sleep_disorder, Sleep_Apnea, Medical_treatment, job_schedule, Alert_at_Work, Total_life_events, total_stress, number of over work]
Index: []

# Ethics & Privacy

We think there might be a bias in our data because most of the time people are not willing to share their weakness, so the data that we collect might be very positive from the people with less stress. Many of the survey questions on levels of stress are self-reported, which can be subject to bias and may not reflect reality. The data also will have a regional bias because we are getting data from one area’s railroad work. The different areas might produce a different data set. There should not be any issues with privacy, because the questions are answered anonymously and the ages are listed as ranges not specifics. Perhaps there can be outliers who are able to be identified within the datasets due to some stand out values, but we will likely not be using charts that present them as such unfairly.

The dataset we are using focuses on railroad employees, which is a very small subset of the working class and is not representative of the larger, more general population. The results may be biased due to the specific labor that is unique to railroad work. Additionally, there may have been certain biases amongst the groups of people who work these jobs, such as more of certain age ranges and less of others, which can lead to a biased point of view towards/against this group.

Comparing against other datasets will definitely help us with focusing too much on a certain job. Also, we can check to see how many people make up differing groups and correct for that when it comes up. Making sure to take averages across differing groups will help to mitigate any biases created by an overabundance of certain age ranges, certain years worked, etc.

# Team Expectations

* Attend Team Meetings, and give a timely notice to other team members if an unexpected conflict arises
  * Team members should provide missing members with a summary of topics discussed during team meetings and their assigned obligations
* Work should be divided in a reasonable manner amongst all members. Complete all agreed upon work by the agreed upon deadline
* Team members should communicate if they need help or cannot finish their work by the set deadline.
* Team members should respond to group messages ASAP, and at least within a 24-hour period.
* In the event of conflict, team members should talk to one another and try to resolve things promptly. If possible, an uninvolved team member should be there to mediate.

# Project Timeline Proposal


| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/2  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research| 
| 2/7  |  4 PM |  Do background research on topic. Edit, finalize, and submit proposal; Search for datasets | Discuss ideal dataset(s) and ethics; draft project proposal. Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part| 
| 2/14  | 4 AM  |  | Discuss A3 |
| 2/21  | 4 PM  | Import & Wrangle Data; EDA| Review/Edit wrangling/EDA; Discuss Analysis Plan. Discuss plans to complete Project Checkpoint #1 (Data) |
| 2/28  | 4 PM  | Finalize wrangling/EDA; Begin Analysis | Discuss/edit Analysis; Discuss A4 |
| 3/6  | 4 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project; Discuss Plans to complete Project Checkpoint #2 (EDA) |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |